__pycache__
**/__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/
env/
venv/
.venv/
*.egg-info/
dist/
build/
tests/
*.log
*.sqlite
*.db
server_*.txt
sv*_*.txt
.env
.env.local
.git/
.gitignore
